APP_NAME=软件名称(一定要填写，站点名称均使用该名字。)
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=站点域名(一定要填写，这决定了你存图片信息时的域名字段信息。)

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=数据库地址
DB_PORT=数据库端口
DB_DATABASE=数据库名称
DB_USERNAME=数据库用户
DB_PASSWORD=数据库密码

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DRIVER=文件存储方式(一定要填写，一定要与config/filesystems.php下的disks对应的配置驱动保持一致。)

LOGO_URL=站点logo地址(一定要填写。)

QINIU_DOMAINS=你的七牛域名
QINIU_HTTPS=你的HTTPS域名
QINIU_CUSTOM=你的自定义域名
QINIU_ACCESS_KEY=AccessKey
QINIU_SECRET_KEY=SecretKey
QINIU_BUCKET=Bucket名字
QINIU_NOTIDY_URL=持久化处理回调地址
QINIU_URL=填写文件访问根url

ADMIN_HTTPS=是否强制使用HTTPS方式(管理后台对此有严格要求。)

